.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--nav-shadow);
    background-color: var(--background-color);
    min-height: calc(100vh - 60px);
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: var(--text-color);
    margin-right: 10px;
    flex-basis: 30%;
    text-align: right;
}

input,
.checkbox-input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
    transition: border-color 0.3s ease-in-out;
    flex-basis: 70%;
}

.checkbox-input {
    padding: 0;
    margin-left: 0;
    width: auto;
    height: auto;
    align-self: flex-start; /* Aligns the checkbox to the start */
}

input:focus {
    border-color: var(--input-focus-border-color);
    outline: none;
}

.auth-btn {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.auth-btn:hover {
    background-color: var(--hover-color);
}

.toggle-form-btn {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}

.toggle-form-btn:hover {
    color: var(--hover-color);
}
