.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../assets/frontPage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--nav-shadow);
    background-color: rgba(255, 255, 255, 0.9);
}
