.quiz-container {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color);
}

.quiz-header {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.quiz-header h2 {
    font-size: 28px;
    font-weight: bold;
}

.question-section {
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--text-color);
}

.quiz-options {
    margin-top: 40px;
}

.option-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.option-checkbox input[type="text"] {
    flex: 0 1 90%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.option-checkbox input[type="checkbox"] {
    flex: 1;
    height: 100%;
    cursor: pointer;
}

.add-question-btn, .submit-btn, .start-quiz-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-top: 10px;
}

.add-question-btn:hover, .submit-btn:hover, .start-quiz-btn:hover {
    background-color: var(--hover-color);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);
}

.quiz-results {
    text-align: center;
    font-size: 20px;
    color: var(--primary-color);
    margin-top: 30px;
}

.input-section {
    margin-bottom: 20px;
}

.input-section label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--text-color);
}

.input-section input[type="text"], .input-section input[type="date"], .input-section select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
}

.input-section input:focus, .input-section select:focus {
    border-color: var(--primary-color);
    outline: none;
}
